# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Ultralytics cache (скачанные модели)
.ultralytics/

# OS
Thumbs.db
.DS_Store
